* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ocultar scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}